<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('includes/head', { title: 'Início', imports: '' }) %>

  <body>
    <!-- Header -->
    <%- include('includes/header') %>
      <!-- /Header -->

      <!-- main Home -->

      <main>
        <section class="slider"></section>
        <article class="c-carousel c-carousel--simple">
          <div class="c-carousel__slides js-carousel--simple">
            <article class="c-carousel__slide"><img src="../../images/banner_01.png" /></article>
            <article class="c-carousel__slide"><img src="../../images/banner_02.png" /></article>
          </div>
          <div class="js-carousel--simple-dots"></div>
        </article>
        </section>


        <section class="icones-home">
          <div class="container">
            <ul class="lista-icones">
              <li><span class="material-symbols-sharp">local_shipping</span>Frete Rápido e Seguro</li>
              <li><span class="material-symbols-sharp">credit_card</span>Parcele em até 10x sem juros</li>
              <li><span class="material-symbols-sharp">location_on</span>Entregamos em todo Brasil</li>
              <li><span class="material-symbols-sharp">barcode</span>Desconto de 5% no boleto</li>
            </ul>
          </div>
        </section>

        <section class="container carousel-home-produtos">
          <div class="container">
            <ul class="lista-categorias lista-cat">
              <li><a href="#"><img src="../images/categoria_01.png" /></a></li>
              <li><a href="#"><img src="../images/categoria_02.png" /></a></li>
              <li><a href="#"><img src="../images/categoria_03.png" /></a></li>
              <li><a href="#"><img src="../images/categoria_04.png" /></a></li>
            </ul>

          </div>
        </section>
        <section class="titulo-promo">

        </section>

        <section class="container carousel-lancamentos">
          <h2>AS MELHORES <strong>OFERTAS</strong></h2>
          <ul class="lista-categorias lc2" id="ofertas-hom  e">

            <% const sales=products.filter(item=> item.oferta === true);
              sales.forEach(item => {%>

              <li class="lista-produtos">
                <a href="produto/<%= item.sku %>"><img src="../images/produtos/<%= item.imagemDestaque %>"></a>
                <div class="produtos-cores">
                  <ul>
                    <li><img src="../images/cores/cor1.png" /></li>
                    <li><img src="../images/cores/cor2.png" /></li>
                  </ul>
                </div>
                <h4>
                  <%= item.nome %>
                </h4>
                <div class="imgem-valores">
                  <span class="valor-real">de R$ <%= item.valor %></span>
                  <span class="promocao">por R$ <%= item.desconto %></span>
                </div>
                <button class="botao-eu-quero">EU QUERO</button>
              </li>

              <% }); %>

          </ul>
        </section>

        <section class="container banners-esportes">
          <img src="../images/maskgroup.png" alt="">
        </section>
        <section class="container carousel-home-produtos">
          <h2>SEU <strong>ESTILO</strong> COMBINA COM ELES</h2>

          <ul class="lista-categorias" id="destaquesHome">
            <% const featured=products.filter(item=> item.destaque === true);
              featured.forEach(item => {%>
              <li class="lista-produtos">
                <a href="produto/<%= item.sku %>"><img src="../images/produtos/<%= item.imagemDestaque %>"></a>
                <div class="produtos-cores">
                  <ul>
                    <li><img src="../images/cores/cor1.png" /></li>
                    <li><img src="../images/cores/cor2.png" /></li>
                  </ul>
                </div>
                <h4>
                  <%= item.nome %>
                </h4>
                <div class="imgem-valores">
                  <span class="valor-real">de R$ <%= item.valor %></span>
                  <span class="promocao">por R$ <%= item.desconto %></span>
                </div>
                <button class="botao-eu-quero">EU QUERO</button>
              </li>

              <% }); %>
          </ul>

        </section>
        <section class="container carousel-marcas">
          <h2>COMPRE POR <strong>MARCA</strong></h2>
          <div class="marcas">
            <a href="">
              <div class=" roud r01"></div>
            </a>
            <a href="">
              <div class=" roud r02"></div>
            </a>
            <a href="">
              <div class=" roud r03"></div>
            </a>
            <a href="">
              <div class=" roud r04"></div>
            </a>
            <a href="">
              <div class=" roud r05"></div>
            </a>
            <a href="">
              <div class=" roud r06"></div>
            </a>
          </div>
        </section>
      </main>

      <!-- /main Home -->

      <!-- footer -->
      <%- include('includes/footer') %>
        <!-- /footer -->
        <script>
          var $simpleCarousel = document.querySelector(".js-carousel--simple");

          new Glider($simpleCarousel, {
            slidesToShow: 1,
            slidesToScroll: 2,
            draggable: true,
            dots: ".js-carousel--simple-dots",
            arrows: {
              prev: ".js-carousel--simple-prev",
              next: ".js-carousel--simple-next",
            },
          });
        </script>
  </body>

</html>