<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('../includes/head', { title: 'Início' , imports: '' }) %>

    <body>
        <!-- Header -->
        <%- include('../includes/header') %>

            <main>
                <div class="container" style="padding: 50px">
                     <% products.forEach(item => {%>
                    <div class="produto" style="display: flex; padding: 10px 0; border-bottom: 1px solid #000;">
                        <div class="sku" style="width: 15%; display: flex; align-items: center;"><%= item.sku %></div>
                        <div class="nome" style="width: 30%; display: flex; align-items: center;"><%= item.nome %></div>
                        <div class="excluir" style="width: 130px; display: flex; align-items: center;">
                            <form action="/admin/excluir/<%= item.sku %>_method=DELETE" method="post">
                                <button>excluir</button>
                              </form>
                            
                            </div>
                        <div class="editar" style="width: 130px; display: flex; align-items: center;"><button>>editar</button></div>
                    </div>
                      <% }); %>                  
                </div>
            </main>


            <%- include('../includes/footer') %>
    </body>

</html>